{% extends '::base.html.twig' %}

{% block body %}

<div>
    {{ form_start(form) }}
        {{ form_row(form.country) }}
        {{ form_row(form.vehicle) }}
        {{ form_row(form.Ok) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <td>Country</td>
                <td>Vehicle</td>
                <td>Is available</td>
            </tr>
        </thead>
        <tbody>
            {% for countryVehicle in countryVehicles %}
            <tr>
                <td>{{ countryVehicle.country }}</td>
                <td>{{ countryVehicle.vehicle }}</td>
                <td>{{ countryVehicle.isAvailable }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('#country_vehicle_search_country').change(function (event) {

                var vehicleSelector = $('#country_vehicle_search_vehicle');
                vehicleSelector.empty();

                var countryId = $(this).val();
                if (countryId)
                {
                    var countryVehiclesUrl = '/vehicles/country/' + countryId;
                    $.ajax({
                        url: countryVehiclesUrl,
                        method: 'GET',
                        dataType: 'json',
                        success: function (data)
                        {
                            for (var vehicleId in data)
                            {
                                $('<option value="' + vehicleId + '">' + data[vehicleId].title + '</option>').appendTo(vehicleSelector);
                            }
                        }
                    });
                }

            });
        });
    </script>

{% endblock %}